/*  styles for dashboard component  */
.dashboard {
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
  }
  &_contents {
    // padding-top: 1rem;
  }
  &_icon {
    font-size: 3rem;
  }
  &_temp {
    font-weight: lighter;
    font-size: 3rem;
  }
  &_locationInfo {
    padding-top: 4rem;
  }
  &_location {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }
  &_weather {
    padding-top: 2rem;
    font-size: 14px;
  }
  &_wind {
    font-size: 14px;
  }
}

/*  styles for weeklyDashboard component  */
.wDashboard {
  padding: 0 0.5rem 2rem;
  min-height: 266px;

  &_dateRender {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    align-items: center;
    padding-bottom: 1.5rem;
    font-size: 14px;
  }
  &_leftContent {
    text-align: left;
    letter-spacing: -1px;
  }
  &_centerContent {
    font-weight: bold;
  }
  &_rightContent {
    text-align: right;
  }
  &_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
