.home {
  &_wrapper {
    padding: 0rem 1.5rem;
    max-height: 100svh;
  }

  &_container {
    height: 100svh;
    max-height: 100svh;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr;
  }

  &_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 266px;
  }

  @media screen and (min-width: 768px) {
    &_wrapper {
      padding: 0 6.75rem;
    }
    &_container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: none;
    }
  }

  @media screen and (min-width: 1024px) {
    width: 80%;
    margin: 0 auto;
  }
}
