@import "../../styles/color.module.scss";

/* Basic Button  */

.basicButton {
  padding: 0.6rem 2rem;
  border: 1px solid $primary-color;
  outline: none;
  background: inherit;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
    border-radius: 4px;
    transition: all 0.3s ease;
  }
}

/* GoogleLogin Button  */
.googleLoginButton {
  background: $primary-bg-color;
}
