@import "../../styles//color.module.scss";

.navMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 500px;

  &_searchMode {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 500px;
  }

  &_login {
    text-decoration: none;
    margin-left: 3rem;
    font-size: 16px;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
  }

  &_close {
    margin-left: 3rem;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
  }

  &_icon {
    font-size: 24px;
    padding: 2rem;
    border-radius: 50%;
  }
}
